<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foundation.manage.mapper.NewsCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foundation.manage.entity.VBC.NewsCategory">
        <id column="NEWS_CATEGORY_ID" property="newsCategoryId"/>
        <result column="NEWS_CATEGORY_NAME" property="newsCategoryName"/>
        <result column="SEQ" property="seq"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="LAST_UPDATE_BY" property="lastUpdateBy"/>
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime"/>
        <result column="LANGUAGE" property="language"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NEWS_CATEGORY_ID AS newsCategoryId,NEWS_CATEGORY_NAME AS newsCategoryName,SEQ AS seq,STATUS AS status,CREATE_BY AS createBy,CREATE_TIME AS createTime,LAST_UPDATE_BY AS lastUpdateBy,LAST_UPDATE_TIME AS lastUpdateTime,LANGUAGE AS language
    </sql>

    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from vbc_website_news_category
        <if test="condition != null and condition != ''">
             where NEWS_CATEGORY_NAME like CONCAT('%',#{condition},'%') or STATUS like CONCAT('%',#{condition},'%')
        </if>
        order by CREATE_TIME DESC
    </select>
</mapper>
